body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
ul{
	list-style: none;
}

h1{
	font-size:5em;
	font-family: arial,helvetica;
	color:#fff;
	text-align: center;
}
h2{
	text-align: center;
}
#menu{
	position: fixed;
	top:0;
	left:50px;
	height: 40px;
	display: block;
	width:100%;
	z-index: 70;
}
#menu li{
	display: inline-block;
	margin:10px;
	color:#000;
	background: #fff;
	background: rgba(255,255,255, 0.5);
	border-radius: 7px;
}
#menu li.active{
	background: #666;
	background: rgba(0,0,0,0, 0.5);
}
#menu li a {
	text-decoration: none;
	color: #540401;
	font-size: 18px;
	font-weight: bold;
}
#menu li a,
#menu li.active a {
	padding:9px 18px;
	text-align: center;
	display: block;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255,0.8);
}
#menu li.active a{
	color:#fff;
}
.xinlang{
	margin-left: 300px;
	opacity: 0.8;
}
.xinlang img:hover, .weixin img:hover{
	height:35px;
}
.ma{
	display: none;
	margin-left:1090px;
	margin-top:-17px;
}
#header, #footer{
	position:fixed;
	width:100%;
	display:block;
	background:rgba(0,0,0,0.5);
	text-align:center;
	color:#f2f2f2;
	line-height: 30px;
	z-index: 70;
}
#header{
	top:0px;
	height: 50px;
}
#footer{
	bottom:0px;
	height:30px;
	font-size: 15px;
}
/*******字动画*******/
#indexPage{
	background:url('../img/first.jpg') no-repeat;

}
.firstPage{
	text-align: center;
	line-height: 400px;
	text-shadow:9px -3px 9px #424347;
}
.firstPage h2,h1{
	margin-bottom:100px;
	-webkit-animation:myfirst 1s ease-out;
	-webkit-animation-fill-mode:forwards;/*停留在当前状态*/
}
@-webkit-keyframes myfirst{
	from{margin-bottom: 100px;}
	to{margin-bottom:0px ;}
}

/*******线********/
.line{
	display: block;
	position:absolute;
	
}
.lineButton{
	position: absolute;
	margin-left: -30px;
}
.lineButton:hover .line{
	background: #fff;
}
.line, .line-top{
	height: 2px;
	width: 0px;
	left: 0;
	top:-2px;
	transition:0.3s ease;
	-webkit-transition:  0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}
.lineButton:hover .line-top{
	width: 100%;
	left: 0;
}
.line-right{
	height: 0px;
	width: 2px;
	left:78px;
	top:-1px;
	transition:0.3s ease 0.2s;
	-webkit-transition:  0.3s ease  0.2s;
	-moz-transition: 0.3s ease  0.2s;
	-o-transition: 0.3s ease  0.2s;
}
.lineButton:hover .line-right{
	height: 100%;
	right: 0;
}
.line-bottom{
	height: 2px;
	width: 0px;
	left: 80px;
	top:30px;
	transition:0.3s ease 0.4s;
	-webkit-transition:  0.3s ease 0.4s;
	-moz-transition: 0.3s ease 0.4s;
	-o-transition: 0.3s ease 0.4s;
}
.lineButton:hover .line-bottom{
	width: 100%;
	left: 0;
}
.line-left{
	height: 0px;
	width: 2px;
	left:-2px;
	top:30px;
	transition:0.3s ease 0.6s;
	-webkit-transition:  0.3s ease 0.6s;
	-moz-transition: 0.3s ease 0.6s;
	-o-transition: 0.3s ease 0.6s;
}
.lineButton:hover .line-left{
	height: 100%;
	top: 0;

}

/*第二页简介*/
#introPage{
	background: url('../img/b4.jpg');
}
#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
	top:-300px;
	-webkit-filter:none;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

#frame {
	position:absolute;
	z-index:0;
	width:1036px;
	height:500px;
	top:90px;
	left:-420px;
	
}

#slides {
	position:absolute;
	top:70px;
	left:-120px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:220px;
	left:-228px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	width:1200px;
	height:500px;
	overflow:hidden;
	position:relative;
	left:-182px;
	top:42px;
}

#slides .next {
	left:638px;
}

.pagination {
	margin:66px -200px;
	width:100%;
}

.pagination li {
	float:left;
	margin:0 1px;
	width: 12px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:6px;
	background-image:url(../img/playbox/pagination.png);
	float:left;
	overflow:hidden;
	bottom:120px;
	left:350px;
	
}
.pagination li.current a {
	background-position:0 -12px;
}

.intro h4{
	position:absolute;
	display: block;
	word-wrap:break-word;
	padding-right: 100px;
	left:950px;
	top: 150px;
	line-height: 30px;
	font-weight: 500;
} 

/*组别页*/
#group{
	background: url('../img/b6.jpg')
}
.design p,.android p,.web p{
	display: block;
	border: 1px solid rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.2);
	position: absolute;
	font-size: 1.5em;
	font-family: Arial;
	color: #fff;
	-webkit-border-radius:10px;
	word-wrap:break-word;
	padding: 15px;
}
.design h1{
	display: inline-block;
	position: absolute;
	bottom:-100px;
	font-weight: bold;
	text-shadow:8px 8px 10px #000;
}
.design p{
	left:1200px;
	top:560px;
	width:20em;
	box-shadow:10px 10px 15px #202022;
}
.android img{
	top:150px;
	left:1500px;
	display: block;
	position: absolute;
	margin:20px 20px;
}
.android  h2{
	position: relative;
	top:-50px;
	left:-350px;
}
.android h1{
	display: inline-block;
	position: relative;
	font-size: 5em;
	top:-400px;
	left:1000px;
	text-shadow:8px 8px 5px #000;
}
.android p{
	display: none;
	position: relative;
	left:1000px;
	top:30px;
	width:11em;
	box-shadow:6px 5px 10px #202022;
}
.web h1{
	display: inline-block;
	position: relative;
	top:-400px;
	left:50px;
	text-shadow:4px 10px 8px #000;
}
.web p{
	position: relative;
	left:50px;
	top:500px;
	width:11em;
	box-shadow:6px 5px 10px #202022;
}
.webImg img{
	display: none;
	position: relative;
	width: 35%;
	height:auto;
	box-shadow:15px 15px 20px #202022;
	-webkit-transform:perspective(500px) rotateY(-8deg);
	opacity: 1;
}
.inner a {
	position: absolute; 
	display: inline-block;
}
.inner a img{
	box-shadow: 6px 5px 10px #202022;
	-webkit-border-radius:5px;
}



