/*作品介绍页之lightMeeting*/
#lightMeeting{
	background: url('../img/blue.jpg') no-repeat ;
	background-position: 80% 100%;
}

.lightBoxLast{
	-webkit-transform:perspective(500px) rotateX(50deg);
	-webkit-animation:lightChange 1s ease-out;
	-webkit-animation-fill-mode:forwards;
	position: relative;
}
@-webkit-keyframes lightChange{
	from{-webkit-transform:perspective(500px) rotateX(50deg);
		 opacity: 0.3;
		 top:400px;
		}
	to{-webkit-transform:perspective(500px) rotateX(0deg);
		opacity: 1;
		top:0px;
	  }
}
.lightBoxPrev{
	position: relative;
	/*-webkit-animation:lightChange 0.5s ease-out;*/
	-webkit-transform:perspective(500px) rotateX(50deg);
		 opacity: 0.5;
		 top:400px;
}
.lightBoxLeave{
	position: relative;
	opacity: 0.5;
	top:40px;
	-webkit-transition:  0.5s ease;
}
.lightContent {
	text-align: left;
	padding-left: 200px;
}
.lightContent p,h2, h3,h4{
	margin-top: 10px;
	color: #fff;
}
.update p{
	margin-top:0px;
	padding-top:10px; 
}
.download a{
	margin-left:20px; 
}

/*weixin*/
body {
    /*background: url(img/LBONKMh.jpg) repeat fixed right bottom;*/
    background: #f9b017;
    margin: 0;
}
body.showing-item .item:not(.clicked){
     -webkit-filter: blur(2px) grayscale(0.5) opacity(0.8);
    -moz-filter: blur(2px) grayscale(0.5) opacity(0.8);
}
a {
	text-decoration: none;
}

.back {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0;
	height: 70px;
}
.back a, .back a:visited {
	color: #fff;
}
.back a:hover {
	text-decoration: underline;
}
.gallery {
    margin: 0 auto;
    width: 700px;
}
.gallery .item{
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    margin: 0 50px -175px;
    z-index: 1;
    transform-origin:20% 40%;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(0.57) rotate(-45deg);
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.7s;
    -moz-transform: translate3d(0, -50px, 0) scaleY(0.57) rotate(-45deg);
    -moz-transition-property: all;
    -moz-transition-duration: 0.7s;
}
.gallery .item:hover {
    z-index: 2;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(0.57) rotate(-45deg) scale(1.2);
    -moz-transform: translate3d(0, -50px, 0) scaleY(0.57) rotate(-45deg) scale(1.2);
}
.gallery .item.clicked{
    z-index: 3;
    -webkit-transform:none;
    -moz-transform:none;
}
.gallery .item .caption{
    display: none;
    border-radius: 3px 3px;
    font-family: helvetica, arial;
    background: white;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.45);
    width: 300px;
}
.gallery .item .caption:after{
background-color: #fff;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "";
    display: block;
    height: 15px;
    left: -5px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    -webkit-transform: rotate( 45deg );
    -moz-transform: rotate( 45deg );
    width:  15px;
}
.gallery .item.left .caption:after{
    right: -8px;
    left: auto;
    box-shadow: 2px -1px 2px 0 rgba( 178, 178, 178, .4 );
}
.gallery .item .caption h1{
    color: black;
    font-weight: 100;
    text-align: center;
    letter-spacing: -1px;
    margin: 0 0 5px;
    margin-bottom: 10px;
border-bottom: 1px solid #EFEFEF;
padding-bottom: 10px;
}
.gallery .item .caption p{
     color: #444;  
    font-weight: 100;}
.gallery .item.clicked .caption{
    position: absolute;
    top: 25px;
    display: inline; 
    -webkit-transition-property: display;
    -webkit-transition-duration: 0.7s;
    -moz-transition-property: display;
    -moz-transition-duration: 0.7s;
}
.gallery .item.clicked.right .caption {
    left: 115%;
    margin-left: 15px;

}
.gallery .item.clicked.left .caption {
    right: 115%;
     margin-right: 15px;
}
.gallery .item.clicked img {
    box-shadow:  0 0 25px rgba(0,0,0,0.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
}
.gallery .item img {
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.7s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.7s;
    box-shadow:  -10px 10px 25px rgba(0,0,0,0.25);
    max-width: 100%;
    width: 190px;
    height: 340px;
}